<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114908648771-0n0fg85b9oa7sg036un0gedv3u467533.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114908648771-0n0fg85b9oa7sg036un0gedv3u467533</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Tbh_Jd4CghYC-ljVW2DkyFY7cXiEQ7M</string>
	<key>GCM_SENDER_ID</key>
	<string>114908648771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htnguyen.studentplanner</string>
	<key>PROJECT_ID</key>
	<string>studentplanner-a0e80</string>
	<key>STORAGE_BUCKET</key>
	<string>studentplanner-a0e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114908648771:ios:4f28c327c278fd4d3e8bf6</string>
</dict>
</plist>